.active {
    background-color: black;
    color: yellow;
}

.navLinks:hover {
    background-color: blue;
    color: aliceblue;
}

body {
    background-color: black;
    color: khaki;
    margin-left: auto;
    margin-right: auto;
}